.slick-prev,
.slick-next {
  background: transparent !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.slick-prev {
  left: 10px; /* Adjust the left position as needed */
}

.slick-next {
  right: 10px; /* Adjust the right position as needed */
}

.gallery-btn {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #424242;
}
.gallery-btn:hover {
  color: #CEAA77;
  transition: ease-in-out;
  transition-duration: 300ms;
}